{% extends "base.html" %}

{% block title %}
Fingo.ro - Termeni și conditii
{% endblock %}


{% block content %}
<div id="left">
</div>
<div id="middle2">
  <br/>
  <br class="clear" />
  Bine ați venit pe Fingo.ro<br/><br/>

  Folosind serviciile oferite de Fingo.ro ("Fingo","noi") acceptați și sunteți
  de acord cu acești Termeni și Condiții de utilizare,
  indiferent dacă sunteți membru înregistrat sau nu.<br/>

  Dacă doriți să deveniți membru pe Fingo sunteți obligați să citiți acest
  document și să respectați instrucțiunile de utilizare ale serviciilor
  oferite de Fingo.<br/>

  În plus când veți folosi orice funcționalitate oferită nouă de către oricare
  din partenerii noștri, acceptați în mod implicit și sunteți de acord cu
  regulile prevăzute în acest document.<br/>

  <ul>
    <li>Drepturi de utilizare. Serviciile oferite de Fingo sunt disponibile 
      oricărui individ cu vârsta minimă de paisprezece (14) ani.
      Folosind serviciile oferite de Fingo declarați pe propria răspundere
      că aveți vârsta minimă de paisprezece (14) ani.
      Accesând www.Fingo.ro declarați pe propria raspundere că aveți
      dreptul de a folosi și accesa serviciile oferite de Fingo și că veți
      respecta regulile prevăzute în acest document.
      Dacă nu sunteți de acord cu unul sau mai mulți termeni prevăzuți în
      articolele urmatoare, nu folosiți serviciile oferite de Fingo.</li>
    <li>Securitatea datelor. 
      Fingo face tot posibilul pentru a asigura securitatea privind activitatea dumneavoastră pe www.Fingo.ro,
      astfel încât nimeni altcineva în afară de dumneavoastră să nu poată
      obține sau modifica datele personale și/sau alte opțiuni
      de care beneficiați pe Fingo. Totuși nu se oferă compensații de orice
      natură în caz contrar.</li>
    <li> Cont de membru. În momentul în care vă înregistrați pe Fingo sunteți
      rugați să vă conectați prin Facebook, numele de utilizator și parola fiind
      identice cu cele de pe Facebook. Dumneavoastră veți fi responsabili
      pentru confidențialitatea acestora, iar Fingo nu va putea fi făcut
      răspunzător în cazul în care acestea sunt făcute publice altor persoane.
      Conținutul sau fotografiile publicate în profilul dumneavoastră
      nu pot conține nuditate, violență sau subiecte de natură sexuală explicită
      sau cu caracter insultător. Nu este permisă publicarea unei fotografii
      a altei persoane fără permisiunea persoanei respective</li>
    <li>Servicii non-comerciale. 
      Serviciile oferite de Fingo sunt oferite pentru folosirea de către
      persoane fizice în scopuri personale, orice folosință a acestora în scopuri
      comerciale va duce la încălcarea acestui document.
      Prin folosirea în scopuri comerciale se înțelege promovarea
      altor site-uri, afaceri proprii, companii, organizații. 
      Companiile sau organizatiile nu pot deveni membri Fingo și nu au
      voie să folosească serviciile oferite de acesta în nici un scop.</li>
    <li> Drepturi de proprietate. 
      Fingo deține orice drept de proprietate asupra serviciilor oferite.
      Acest document deține informatia legată de Drepturile de Autor
      necesara și alte Proprietăți Intelectuale ale Fingo.
      Exceptând Proprietatea Intelectuală aflată în domeniul public sau
      pentru care dețineți drepturi (în scris) de scriere și/sau copiere,
      nu aveți dreptul de a copia, modifica, publica, transmite, distribui
      sau a vinde nici un material ce este reprezentat de Proprietatea
      Intelectuală a Fingo.</li>
    <li> Actualizare Termeni de utilizare. 
      Fingo își rezervă dreptul de a modifica Termenii de utilizare
      din când în când. Fingo va publica orice versiune modificata
      a Termenilor de utilizare pe site-ul www.Fingo.ro, iar continuarea
      utilizării serviciilor oferite de noi după ce versiunea modificată
      a Termenilor de utilizare a fost publicată constituie
      acordul dumneavoastră cu privire la această versiune modificată</li>
  </ul>


</div>
{% endblock %}
