<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Fingo.ro - cele mai noi bârfe din comunitatea ta" />
    <meta name="keywords" content="fingo,bârfe,barfe, comunitate,știri, stiri" />
    <meta name="Revisit-After" content="1 Days" />
    <meta property="og:image" content="{{MEDIA_URL}}images/logo.jpg"/>
    <meta property="og:description" content="Fingo.ro - cele mai noi bârfe din comunitatea ta" />

    <title>{% block title %}Fingo.ro{% endblock %}</title>
    <link rel="icon" href="{{MEDIA_URL}}favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/stylesheet.min.css"/>
    <!--[if IE 6]>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie-stylesheet.css" />
    <![endif]-->
    <script type="text/javascript" src="{{MEDIA_URL}}js/scripts.min.js"></script>
    <script type="text/javascript">
      var news_over;
      $(function() {
        $('#scroller').simplyScroll({
          autoMode: 'loop',
          frameRate: 24
        });
      });
    </script>
    <script type="text/javascript">
      {% block js %}
      {% endblock %}
    </script>
    
    {% block extra_head %}
    {% endblock %}
    
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({appId: '{{fb_app_id}}',
          status: true,
          cookie: true,
          xfbml: true});

        FB.Event.subscribe('auth.login', function(response) {
          window.location = '/profile/login';
        });


        FB.Event.subscribe('auth.logout', function(response) {
          window.location = '/profile/logout?force';
        });

        FB.Event.subscribe('edge.create', function(response) {
          $('#optiuni_barfa_' + news_over).removeClass('optiuni_barfa');
          $('#optiuni_barfa_' + news_over).addClass('optiuni_barfa_extins');
          $('#optiuni_barfa_' + news_over).mouseleave(function() {
            $('#optiuni_barfa_' + news_over).removeClass('optiuni_barfa_extins');
            $('#optiuni_barfa_' + news_over).addClass('optiuni_barfa');
          })
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
          '//connect.facebook.net/ro_RO/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
    <script type="text/javascript">
      var uservoiceOptions = {
        /* required */
        key: 'fingo',
        host: 'fingo.uservoice.com',
        forum: '70577',
        showTab: true,
        /* optional */
        alignment: 'right',
        background_color:'#0A3054',
        text_color: 'white',
        hover_color: '#0A3054',
        lang: 'en'
      };

      function _loadUserVoice() {
        var s = document.createElement('script');
        s.setAttribute('type', 'text/javascript');
        s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18364104-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>



    <div id="container">
      {% include 'header.html' %}
      <div id="continut">
        {% block content %}{% endblock %}
      </div>
      {% include 'footer.html' %}
    </div>
  </body>
</html>
